server:
  port: 8888

spring:
  application:
    name: config-server

  security:
    user:
      name: ${CONFIG_SERVER_USER:config}
      password: ${CONFIG_SERVER_PASSWORD:config123}

  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_GIT_URI:file://${user.home}/hr-platform-config}
          default-label: main
          search-paths: '{application}'
          clone-on-start: true
        native:
          search-locations: ${SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS:file:../config,classpath:/config}

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:native}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.config: DEBUG
