api:
  dashboard: true

entryPoints:
  web:
    address: ":8080"
  traefik:
    address: ":8090"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

accessLog:
  format: json

metrics:
  prometheus: {}
